body {
    margin: auto;
    width: 800px;
    text-align: center;
}
/* h1, h4{
    text-align: center;
} */

hr.line {
    border: 1px solid black;
}
  
ul {
    list-style-type: none;
   display: flex;
   justify-content: space-evenly;
}

.picture >img{
      width: 100%;
}
  
.header{
      font-size: 5rem;
     margin: 50px;
}

.english{
    margin-bottom: 30px;
}
.hours{
    display: flex;
    justify-content: space-between;
    margin: 80px;
}
.hours > img{
    width: 40%;
}

.hours_details{
    padding: 30px;

}
.contact{
    background-image: url("fish.jpeg");
    color: white;
    background-size: contain;
   
}
input{
    width: 60%;
    height: 20%;
    padding: 12px 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .header{
        font-size: 5rem;
       margin: 5%;
  }
    ul {
        list-style-type: none;
       display: flex;
       justify-content: space-evenly;
    }
    
.hours{
    display: flex;
    justify-content: space-between;
    
}
.hours > img{
    max-width:100%;
    max-height: 300px;
   
    
}

.hours_details{
    padding-right: 0px;

}
}